
<p>
	<b>medi.</b> ist die neue App f&uuml;r Menschen, <br>
	die Ihre Gesundheit immer und &uuml;berall im Blick haben wollen.<p>
	Durch die zentrale Verwaltung Ihrer Medikamente und der automatischen<br>
	Warnung bei Wechselwirkungen haben Sie jeden Tag ein sicheres Gef&uuml;hl.<p>
	Durch die automatische Synchronisation mit Ihrem Kalender, kann <b>medi.</b><br>
	Sie einfach und zuverl&auml;ssig an die rechtzeitige Medikamenteneinnahme erinnern.<p>
	Eine automatische Insulinberechnung auf Grundlage Ihrer Nahrungsaufnahme und eine<br>
	Speicherung aller Ihrer Vitaldaten macht <b>medi.</b> zu einem unverzichtbaren Begleiter.<p>
	Alle Ihre mit <b>medi.</b> verwalteten Daten k&ouml;nnen ganz einfach<br>
	auf den Computer exportiert und allen relevanten &Auml;rzten zur Verf&uuml;gung gestellt werden.<p>
	Hinterlassen Sie Ihre E-Mail Adresse und wir halten Sie auf dem Laufenden<br>
	und informieren Sie, sobald <b>medi.</b> verf&uuml;gbar ist.<p>
	Besuchen Sie auch unseren <%= link_to "Development Blog", "http://app-medi.blogspot.com" %>
	
	<!-- Begin MailChimp Signup Form -->
	
        <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
        <form action="http://blogspot.us4.list-manage1.com/subscribe/post?u=2ae0e024feff1f2932c4a060c&amp;id=f6405ac0ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<div align="center">
	<!-- <label for="mce-EMAIL">Halten Sie mich auf den Laufenden:</label> -->
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Hier E-Mail Adresse eintragen." required>
	<div class="clear"><input type="submit" value="Abschicken" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
	</div>
	</div>

        <!--End mc_embed_signup-->
	
	