<p>
	<b>medi.</b> ist die neue App f&uuml;r Menschen, <br>
	die Ihre Gesundheit immer und &uuml;berall im Blick haben wollen.<p>
	Durch die zentrale Verwaltung Ihrer Medikamente und der automatischen<br>
	Warnung bei Wechselwirkungen haben Sie jeden Tag ein sicheres Gef&uuml;hl.<p>
	Durch die automatische Synchronisation mit Ihrem Kalender, kann <b>medi.</b><br>
	Sie einfach und zuverl&auml;ssig an die rechtzeitige Medikamenteneinnahme erinnern.<p>
	Eine automatische Insulinberechnung auf Grundlage Ihrer Nahrungsaufnahme und eine<br>
	Speicherung aller Ihrer Vitaldaten macht <b>medi.</b> zu einem unverzichtbaren Begleiter.<p>
	Alle Ihre mit <b>medi.</b> verwalteten Daten k&ouml;nnen ganz einfach<br>
	auf den Computer exportiert und allen relevanten &Auml;rzten zur Verf&uuml;gung gestellt werden.<p>
	Hinterlassen Sie Ihre E-Mail Adresse und wir halten Sie auf dem Laufenden<br>
	und informieren Sie, sobald <b>medi.</b> verf&uuml;gbar ist.<p>
</p>
	<form action="#" method="post">
	<input type="email" id="email" style="width:280px" placeholder="Hier Ihre E-Mail Adresse eingeben" /><br>
	<input type="submit" style="width:285px" value="Informieren Sie mich &uuml;ber Neuigkeiten" />
	</form>