<!--<p>Impressum<p>
Pierre Hellwig<br>
Emser Stra&szlige 45<br>
12051 Berlin<br>
medi.devteam [at] gmail.com<br>
</p>-->

<h1>Impressum</h1><p>Angaben gem&auml&szlig &sect 5 TMG:<br/><br/></p>
<p>Pierre Hellwig<br />
Emser Stra&szlige 45<br />
12051 Berlin<br />
medi.devteam [at] gmail.com<br />
</p>

<h2>Haftungsausschluss:</h2>
<p><strong>Haftung f&uumlr Inhalte</strong></p>
    <p>Die Inhalte unserer Seiten wurden mit gr&ouml&szligter Sorgfalt erstellt. 
      F&uumlr die Richtigkeit, Vollst&aumlndigkeit und Aktualit&aumlt der Inhalte 
      k&oumlnnen wir jedoch keine Gew&aumlhr &uumlbernehmen. Als Diensteanbieter sind wir gem&auml&szlig &sect 7 Abs.1 TMG f&uumlr 
      eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. 
      Nach &sect&sect 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht 
      verpflichtet, &uumlbermittelte oder gespeicherte fremde Informationen zu 
      &uumlberwachen oder nach Umst&aumlnden zu forschen, die auf eine rechtswidrige 
      T&aumltigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der 
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon 
      unber&uumlhrt. Eine diesbez&uumlgliche Haftung ist jedoch erst ab dem 
      Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&oumlglich. Bei 
      Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte 
      umgehend entfernen.</p>
    <p><strong>Haftung f&uumlr Links</strong></p>
    <p>Unser Angebot enth&aumllt Links zu externen Webseiten Dritter, auf deren 
      Inhalte wir keinen Einfluss haben. Deshalb k&oumlnnen wir f&uumlr diese 
      fremden Inhalte auch keine Gew%aumlhr &uumlbernehmen. F&uumlr die Inhalte 
      der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der 
      Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung 
      auf m&oumlgliche Rechtsverst&ouml6SZIGe &uumlberpr&uumlft. Rechtswidrige 
      Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente 
      inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte 
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen 
      werden wir derartige Links umgehend entfernen.</p>
    <p><strong>Urheberrecht</strong></p>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten 
      unterliegen dem deutschen Urheberrecht. Die Vervielf&aumlltigung, Bearbeitung, Verbreitung und 
      jede Art der Verwertung au&szigerhalb der Grenzen des Urheberrechtes bed&uumlrfen 
      der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads 
      und Kopien dieser Seite sind nur f&uumlr den privaten, nicht kommerziellen 
      Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, 
      werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche 
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. 
      Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
    <p><strong>Datenschutz</strong></p>
    <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&oumlglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, 
      Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&oumlglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uumlckliche Zustimmung nicht an Dritte weitergegeben.   
    </p>
    <p>Wir weisen darauf hin, dass die Daten&uumlbertragung im Internet (z.B. 
      bei der Kommunikation per E-Mail) Sicherheitsl&uumlcken aufweisen kann. 
      Ein l&uumlckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht 
      m&oumlglich. </p>
    <p>Der Nutzung von im Rahmen der Impressumspflicht ver&oumlffentlichten Kontaktdaten 
      durch Dritte zur &Uumlbersendung von nicht ausdr&uumlcklich angeforderter 
      Werbung und Informationsmaterialien wird hiermit ausdr&uumlcklich widersprochen. 
      Die Betreiber der Seiten behalten sich ausdr&uumlcklich rechtliche Schritte 
      im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, 
      vor.</p>
<p><strong>Datenschutzerkl&aumlrung f&uumlr die Nutzung von Facebook-Plugins
		 (Like-Button)</strong></p>
		 <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook,
		 1601 South California Avenue, Palo Alto, CA 94304, USA integriert.
		 Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
		 dem "Like-Button" ("Gef&aumlllt mir") auf unserer Seite. Eine &Uumlbersicht
		 &uumlber die Facebook-Plugins finden Sie hier:
		 <a href="http://developers.facebook.com/docs/plugins/" 
		 target="_blank">http://developers.facebook.com/docs/plugins/</a>.<br />
		 Wenn Sie unsere Seiten
		 besuchen, wird &uumlber das Plugin eine direkte Verbindung zwischen Ihrem
		 Browser und dem Facebook-Server hergestellt. Facebook erh&aumllt dadurch
		 die Information, dass Sie mit Ihrer IP-Adresse unsere Seite
		 besucht haben. Wenn Sie den Facebook "Like-Button" anklicken w&aumlhrend
		 Sie in Ihrem Facebook-Account eingeloggt sind, k&oumlnnen Sie die Inhalte
		 unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann
		 Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir
		 weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom
		 Inhalt der &uumlbermittelten Daten sowie deren Nutzung durch Facebook
		 erhalten. Weitere Informationen hierzu finden Sie in der
		 Datenschutzerkl&aumlrung von facebook unter
		 <a href="http://de-de.facebook.com/policy.php" target="_blank">
		 http://de-de.facebook.com/policy.php</a></p>
     <p>Wenn Sie nicht w&uumlnschen, dass Facebook den Besuch unserer Seiten Ihrem 
     Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem
     Facebook-Benutzerkonto aus.</p>
<p><strong>Datenschutzerkl&aumlrung f&uumlr die Nutzung von Google Analytics</strong></p>
		 <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. 
     ("Google"). Google Analytics verwendet sog. "Cookies", 
     Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse 
     der Benutzung der Website durch Sie erm&oumlglicht. Die durch den Cookie erzeugten 
     Informationen &uumlber Ihre Benutzung dieser Website (einschlie&sziglich Ihrer 
     IP-Adresse) wird an einen Server von Google in den USA &uumlbertragen und 
     dort gespeichert.</p>
     <p>Google wird diese Informationen benutzen, um Ihre Nutzung der Website 
     auszuwerten, um Reports &uumlber die Websiteaktivit&aumlten f&uumlr die Websitebetreiber 
     zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung 
     verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen 
     gegebenenfalls an Dritte &uumlbertragen, sofern dies gesetzlich vorgeschrieben ist 
     oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird 
     in keinem Fall Ihre IP-Adresse mit anderen Daten der Google Inc. in Verbindung 
     bringen.</p>
     <p>Sie k&oumlnnen die Speicherung der Cookies durch eine entsprechende Einstellung 
     Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in 
     diesem Fall gegebenenfalls nicht s&aumlmtliche Funktionen dieser Website vollumf&aumlnglich 
     werden nutzen k&oumlnnen. Sie k&oumlnnen dar&uumlber hinaus die Erfassung der durch das 
     Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. 
     Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google 
     verhindern, indem sie das unter dem folgenden Link verf&uumlgbare Browser-Plugin 
     herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
<p><strong>Datenschutzerkl&aumlrung f&uumlr die Nutzung von Google Adsense</strong></p>
		 <p>Diese Website benutzt Google AdSense, einen Dienst zum Einbinden 
		 von Werbeanzeigen der Google Inc. ("Google"). Google AdSense 
		 verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer 
		 gespeichert werden und die eine Analyse der Benutzung der Website 
		 erm&oumlglicht. Google AdSense verwendet auch so genannte Web Beacons 
		 (unsichtbare Grafiken). Durch diese Web Beacons k&oumlnnen Informationen 
		 wie der Besucherverkehr auf diesen Seiten ausgewertet werden.</p>  
     <p>Die durch Cookies und Web Beacons erzeugten Informationen &uumlber 
     die Benutzung dieser Website (einschlie&sziglich Ihrer IP-Adresse) und 
     Auslieferung von Werbeformaten werden an einen Server von Google 
     in den USA &uumlbertragen und dort gespeichert. Diese Informationen k&oumlnnen 
     von Google an Vertragspartner von Google weiter gegeben werden. 
     Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen 
     gespeicherten Daten zusammenf&uumlhren.</p> 
     <p>Sie k&oumlnnen die Installation der Cookies durch eine entsprechende 
     Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch 
     darauf hin, dass Sie in diesem Fall gegebenenfalls nicht s&aumlmtliche 
     Funktionen dieser Website voll umf&aumlnglich nutzen k&oumlnnen. Durch die 
     Nutzung dieser Website erkl&aumlren Sie sich mit der Bearbeitung der 
     &uumlber Sie erhobenen Daten durch Google in der zuvor beschriebenen 
     Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
<p><strong>Datenschutzerkl&aumlrung f&uumlr die Nutzung von Google +1</strong></p>
		 <p><i>Erfassung und Weitergabe von Informationen:</i><br />
     Mithilfe der Google +1-Schaltfl&aumlche k&oumlnnen Sie Informationen weltweit
     ver&oumlffentlichen. &uumlber die Google +1-Schaltfl&aumlche erhalten Sie und andere
     Nutzer personalisierte Inhalte von Google und unseren Partnern. Google
     speichert sowohl die Information, dass Sie f&uumlr einen Inhalt +1 gegeben
     haben, als auch Informationen &uumlber die Seite, die Sie beim Klicken auf
     +1 angesehen haben. Ihre +1 k&oumlnnen als Hinweise zusammen mit Ihrem
     Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in
     Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf
     Websites und Anzeigen im Internet eingeblendet werden.<br />
     Google zeichnet Informationen &uumlber Ihre +1-Aktivit&aumlten auf, um die 
     Google-Dienste f&uumlr Sie und andere zu verbessern. Um die Google 
     +1-Schaltfl&aumlche verwenden zu k&oumlnnen, ben&oumltigen Sie ein weltweit 
     sichtbares, &oumlffentliches Google-Profil, das zumindest den f&uumlr das 
     Profil gew&aumlhlten Namen enthalten muss. Dieser Name wird in allen 
     Google-Diensten verwendet. In manchen F&aumlllen kann dieser Name auch 
     einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten &uumlber 
     Ihr Google-Konto verwendet haben. Die Identit&aumlt Ihres Google-Profils 
     kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder 
     &uumlber andere identifizierende Informationen von Ihnen verf&uumlgen.<br />
     <br />
     <i>Verwendung der erfassten Informationen:</i><br />
     Neben den oben erl&aumluterten Verwendungszwecken werden die von Ihnen 
     bereitgestellten Informationen gem&auml&szig den geltenden 
     Google-Datenschutzbestimmungen genutzt. Google ver&oumlffentlicht 
     m&oumlglicherweise zusammengefasste Statistiken &uumlber die +1-Aktivit&aumlten 
     der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa
     Publisher, Inserenten oder verbundene Websites. </p>
<p><strong>Datenschutzerkl&aumlrung f&uumlr die Nutzung von Twitter</strong></p>
		 <p>Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden.
		 Diese Funktionen werden angeboten durch die Twitter Inc., 795
		 Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen
		 von Twitter und der Funktion "Re-Tweet" werden die von Ihnen
		 besuchten Webseiten mit Ihrem Twitter-Account verkn&uumlpft und anderen
		 Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter &uumlbertragen.</p>
     <p>Wir weisen darauf hin, dass wir als Anbieter der Seiten keine
     Kenntnis vom Inhalt der &uumlbermittelten Daten sowie deren Nutzung durch
     Twitter erhalten. Weitere Informationen hierzu finden Sie in der
     Datenschutzerkl&aumlrung von Twitter unter
     <a href="http://twitter.com/privacy" target="_blank">http://twitter.com/privacy</a>.</p>
     <p>Ihre Datenschutzeinstellungen bei Twitter k&oumlnnen Sie in den
     Konto-Einstellungen unter
     <a href="http://twitter.com/account/settings" target="_blank">http://twitter.com/account/settings</a> &aumlndern.</p>

<p><i>Quellenangaben: <a href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">eRecht24 Disclaimer</a>, <a href="http://www.e-recht24.de/artikel/datenschutz/6590-facebook-like-button-datenschutz-disclaimer.html" target="_blank">eRecht24 Facebook Datenschutzerkl&aumlrung</a>, <a href="http://www.google.com/intl/de_ALL/analytics/tos.html" target="_blank">Google Analytics Datenschutzerkl&aumlrung</a>, <a href="http://www.e-recht24.de/artikel/datenschutz/6635-datenschutz-rechtliche-risiken-bei-der-nutzung-von-google-analytics-und-googleadsense.html" target="_blank">Google Adsense Datenschutzerkl&aumlrung</a>, <a href="http://www.google.com/intl/de/+/policy/+1button.html" target="_blank">Datenschutzerkl&aumlrung Google +1</a>, <a href="http://twitter.com/privacy" target="_blank">Twitter Bedingungen</a></i></p>