<h2>Fast Fertig...</h2>

Wir müssen Ihre E-Mail-Adresse bestätigen.<p>

Um die Anmeldung abzuschließen, klicken Sie bitte auf den Link in der E-Mail, die wir soeben an Sie geschickt haben.<p>

<%= link_to "Zurück zur Website", home_path %>
